<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIhzODRzR3ptIfU8lusmhFWcKHPQDJkFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>785463776592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CZU.Course-App</string>
	<key>PROJECT_ID</key>
	<string>homework4ps</string>
	<key>STORAGE_BUCKET</key>
	<string>homework4ps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785463776592:ios:f46392dd3a8bf0191ac855</string>
</dict>
</plist>